.header {
	background-color: #344955;
	padding-bottom: 16px;
	padding-top: 16px;
	position: sticky;
	top: 0;
}

.header__heading {
	color: #ffffff;
	display: inline-block;
	font-size: 24px;
	margin-right: 32px;
}
