.sidebar {
    position: fixed;
    bottom: 0;
    top: 115px; /* Height of header and toolbar */
    left: 0;
    width: 75px;
    margin: 0;
    background-color: #e6e6e6;
}

.sidebar__link {
	color: #232f34;
    display: block;
    font-size: 11px;
	padding: 16px 8px;
	text-align: center;
    text-decoration: none;
}

.sidebar__link:hover {
	color: #344955;
}

.sidebar__link_text {
	display: block;
}
