.sidebar {
    /*position: fixed;*/
    bottom: 0;
    top: 67px;
    left: 0;
    width: 75px;
    margin: 0;
    background-color: #e6e6e6;
}

.sidebar__link {
    display: block;
    font-size: 12px;
    padding: 10px 15px;
    text-decoration: none;
}
